@font-face {
  font-family: "pingfang";
  src: url("../assets/PingFang-SC-Bold.ttf")
}
/* @font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
} */

body {
    background: gray;
    background-image: url('../img/test.png');
    font-family: "pingfang"
}